@import "src/data/variables";
@import "src/data/mixins";

.container {
  @include componentContainer;
  @media (min-height: 800px) {
    min-height: 95vh;
    margin-top: 0;
  }
  .innerContainer {
    @include innerContainerWithShadow;

    .priceBlock {
      .title {
        @include fontTitle;
      }

      .valueContainer {
        .block {
          @include flexCenter;
          flex-direction: column;
          margin: 40px 0;

          .divider {
            width: 230px;

            .chip {
              @include fontRestInfo;
            }
          }

          .description {
            margin-top: 15px;
            text-align: center;
            @include fontDescription;
          }
        }
      }

      .restInfo {
        @include fontRestInfo;
        text-align: right;
      }
    }
    .designBlock {
      padding-top: 30px;
      .title {
        @include fontTitle;
      }

      .valueContainer {
        .block {
          @include flexCenter;
          flex-direction: column;
          margin: 10px 0;

          .divider {
            width: 180px;

            .chip {
              @include fontRestInfo;
              font-size: 12px;
            }
          }

          .description {
            margin-top: 5px;
            text-align: center;
            @include fontDescription;
            font-size: 14px;
          }
        }
      }

      .restInfo {
        @include fontRestInfo;
        text-align: right;
      }
    }
  }
}