@import "src/data/variables";
@import "src/data/mixins";

.container {
  @include componentContainer;
  @media (min-height: 800px) {
    min-height: 95vh;
    margin-top: 0;
  }
  .innerContainer {
    @include innerContainerWithShadow;

    .title {
      @include fontTitle;
    }

    .valueContainer {
      .block {
        @include flexCenter;
        flex-direction: column;
        margin: 40px 0;

        .divider {
          width: 230px;

          .chip {
            @include fontRestInfo;
          }
        }

        .description {
          margin-top: 15px;
          text-align: center;
          @include fontDescription;
        }
      }
    }

    .restInfo {
      @include fontRestInfo;
      text-align: right;
    }
  }
}