@import "../../../data/variables";
@import "../../../data/mixins";

.container {
  @include componentContainer;
  @media (min-height: 1100px) {
    min-height: 95vh;
    margin-top: 0;
  }

  .innerContainer {
    @include innerContainerWithoutShadow;
    @include flexCenter;
    flex-direction: column;

    .title {
      @include fontTitle;
      font-size: 32px;
      font-weight: bolder;
    }
    .onlineHeader {
      @include fontRestInfo;
      font-size: 20px;
      font-style: italic;
      font-weight: normal;
      margin-bottom: 20px;
    }

    .bulletBlock {
      @include flexCenter;
      flex-direction: column;
      margin-top: 25px;

      .bullet {
        @include fontTitleForInnerBlock;
      }
      .bulletInfo {
        @include fontDescription;
        text-align: center;
      }
    }
  }
}


