@import "src/data/variables";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  //border: 1px solid brown;

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    //border: 1px solid black;
    @media (max-width: 880px) {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 10px;
    }

    .image {
      min-height: 60vh;
      //border: 3px solid yellow;
      display: flex;
      align-items: center;
      margin-right: 20px;
      @media (max-width: 880px) {
        margin-right: 0px;
      }
      @media (max-width: 680px) {
        min-height: 50vh;
      }

      img {
        border-radius: 10%;
        box-shadow: -5px 5px 10px 0px $secondaryColor;
        @media (max-width: 880px) {
          width: 250px;
          box-shadow: -5px -5px 10px 0px $secondaryColor;
        }
      }
    }

    .greetings {
      padding: 20px 10px;
      box-shadow: 5px -5px 10px 0px $secondaryColor;
      border-radius: 1%;
      //border: 1px solid red;
      @media (max-width: 880px) {
        min-width: 250px;
        box-shadow: 5px 5px 10px 0px $secondaryColor;
      }

      .header {
        margin-bottom: 20px;
        text-align: center;
        font-family: $headerFont;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 2px;
        color: $secondaryColor;
        //border: 1px solid black;
        @media (max-width: 680px) {
          font-size: 25px;
        }
      }

      .mainSign {
        font-family: $textFont;
        font-weight: 400;
        font-size: 16px;
        color: $secondaryColor;
        text-align: center;
        margin-bottom: 5px;
        //border: 1px solid black;
      }

      .directionToMenu {
        font-family: $textFont;
        font-weight: 600;
        font-size: 14px;
        color: $secondaryColor;
        text-align: right;
        margin-top: 15px;
        //border: 1px solid black;
      }
    }
  }
}