@import "src/data/mixins";
@import "src/data/variables";

.container {
  @include innerContainerWithShadow;
  width: 400px;
  .title {
    @include fontDescription;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
  }
  .imageContainer {
    display: flex;
    align-items: center;
    width: 100%;
    .image{
      @media (max-width: 350px) {
        display: none;
      }
      img{
        max-height: 400px;
        width: 100px;
        @media (max-width: 400px) {
          width: 70px;
        }
      }
    }
    .descriptionContainer{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .descriptionChart{
        margin-bottom: 10px;

        .headerChart{
          @include fontRestInfo;
          @include flexCenter;
          margin-bottom: 5px;
          div {
            width: 40%;
            text-align: center;
            @media (max-width: 400px) {
              font-size: 14px;
              width: 50%;
            }
          }
        }
        .valueChart{
          @include fontDescription;
          @include flexCenter;
          div{
            width: 40%;
            text-align: center;
            @media (max-width: 400px) {
              font-size: 14px;
              width: 50%;
            }
          }
        }
      }
      .actionDescription {
        @include fontDescription;
        box-shadow: 0 0 5px 0 $secondaryColor;
        border-radius: 1%;
        font-size: 14px;
        padding: 10px 3px;
        margin-left: 10px;
        text-align: center;
        @media (max-width: 450px) {
          font-size: 12px;
        }
        div {
          position: relative;
          margin-bottom: 15px;
          &::after {
            position: absolute;
            content: '';
            bottom: -8px;
            left: 50%;
            width: 80px;
            height: 1px;
            background-color: $secondaryColor;
            transform: translate(-50%, 50%);
          }
        }
      }
    }

  }
  .buttonsContainer{
    text-align: center;
    margin-top: 10px;
    .buttonGroup{
      .button{
        padding: 5px;
        text-transform: capitalize;
        @media (max-width: 450px) {
          padding: 3px;
        }
        @media (max-width: 400px) {
          @include fontRestInfo;
          font-size: 10px;
          font-weight: 700;
        }
      }
    }
  }

}
