@import "src/data/variables";
@import "src/data/mixins";

.container {
  border: 1px solid red;
  position: fixed;
  bottom: $appHeaderWidthFirst; right: 15px;
  border-radius: 50%;
  .icon {
    font-size: 45px;
    color: $secondaryColor;
    border-radius: 50%;
  }
}