@import "../../data/variables";
@import "src/data/mixins";

.appContainer {
  position: relative;
  @include appContainer;
  margin-top: $appHeaderWidthFirst;
  @media (max-width: 600px) {
    margin-top: $appHeaderWidthSecond;
  }
}

* {
  box-sizing: border-box;
}