@import "src/data/variables";

.box {
  .toolbar {
    min-height: $appHeaderWidthFirst;
    height: $appHeaderWidthFirst;
    @media (max-width: 600px) {
      min-height: $appHeaderWidthSecond;
      height: $appHeaderWidthSecond;
    }
  }
}