.box {
  width: 100%;
  opacity: 0.9;
  .toolbar {
    min-height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      .icon{
        margin: 0px 10px;
        img {
          height: 25px;
        }
      }
    }
  }
}