@import "src/data/variables";
@import "src/data/mixins";

.container {
  @include componentContainer;
  align-items: start;
  //@include borderCheck(blue);

  .innerContainer {
    @include innerContainerWithoutShadow;
    width: 100%;
    //@include borderCheck(black);

    .title{
      @include fontTitle;
      margin-bottom: 20px;
      //@include borderCheck(black);
    }
    .filter{
      //@include borderCheck(black);
      @include flexCenter;
    }
    .items{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}