@import "src/data/variables";
@import "src/data/mixins";

.container {
  @include componentContainer;
  align-items: flex-start;

  .innerContainer {
    @include innerContainerWithoutShadow;
    width: 100%;

    .title{
      @include fontTitle;
      margin-bottom: 20px;
    }
    .filter{
      @include flexCenter;
    }
    .items{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}