@import "src/data/variables";
@import "src/data/mixins";

.container {
  @include componentContainer;
  @media (min-height: 800px) {
    min-height: 95vh;
    margin-top: 0;
  }

  .innerContainer {
    @include innerContainerWithShadow;

    .title {
      @include fontTitle;
      margin-bottom: 20px;
    }
    .valueContainer{
      .description{
        @include fontDescription;
        text-align: center;
        a {
          text-decoration: none;
          color: $secondaryColor;
        }
      }
    }
  }
}